# vsc
.vscode
.DS_Store

# venv
personality-venv/

# data
PersonalityData/OriginalData/
PersonalityData/EmojiDataframes/
PersonalityData/Viz/heatmap_corr_absoccurence.png
PersonalityData/key.json

redundant.py
merge_dataframes.py

__pycache__/