#pycache
__pycache__/

# vsc
.vscode
.DS_Store

# venv
personality-venv/
personality-venv2/

# data
PersonalityData/OriginalData/
PersonalityData/EmojiDataframes/
PersonalityData/Viz/heatmap_corr_absolute.png
PersonalityData/key.json

# py scripts
correlation_helper/captions_summary.py
redundant.py
personality_classification.py
classifier_helper/extract_caption_embeddings.py